.rectangle-box {
  border: 1px solid;
  @include border-radius(5px);
  display: block;
  height: 32vw;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 73vw;

  a {
    text-decoration: underline;
  }
}


.circle {
  border: 5px solid #d0d0d0;
  @include border-radius(200px);
  color: #d0d0d0;
  font-size: 90px;
  height: 200px;
  line-height: 1;
  margin: 0 auto 12px;
  margin-top: 25px;
  padding: 50px;
  width: 200px;
}

//popups

.suggest-perk {

  .head {
    background-color: #6ab0cf;
    @include border-radius(4px 4px 0 0);
  }

  .body {
    padding: 1em;
  }

  .button-margin-top {
    margin-top: 20px;
  }

  h5 {
    border-bottom: 1px solid #f2f2f6;
    color: $white;
    padding: 1em;
  }

  .no-padding {
    padding-bottom: 0;
    padding-top: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  label {
    color: #40434f;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
  }

  span {
    font-size: 17px;
  }

  input {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
  }

  .foot {
    border-top: 1px solid #f2f2f6;
  }
}

//add one

#member-form {

  h5 {
    color: #788991;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 3%;
    margin-top: 3%;
    text-transform: uppercase;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .day {
    width: 23%;
    margin-right: 10px;
  }

  .year {
    width: 23%;
    margin-right:0;
  }

  .month {
    width: 28%;
    margin-right: 10px;
  }
}

.centered-contents {
  text-align: center;
}


.search-table.ng-enter,
.search-table.ng-leave {
  position: relative;
  @include transition(400ms cubic-bezier(.250, .250, .750, .750) all);
}

.search-table.ng-enter.ng-enter-active,
.search-table.ng-leave {
  height: 30px;
  @include opacity(1);
  top: 0;
}

.search-table.ng-leave.ng-leave-active,
.search-table.ng-enter {
  height: 0;
  @include opacity(0);
  top: -50px;
}

//edit panel

.edit-panel {

  label {
    font-weight: 700;
  }

  p {
    font-weight: 300;
  }
}

.add-employee-options {
  color: #2c3e50;
  cursor: pointer;
  display: inline-block;
  font-family: Open sans;
  font-size: 18px !important;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 0;
  padding: 25px 0;

  @media (max-width: 480px) {
    font-size: 14.5px !important;
  }

  @media (max-width: 767px) and (min-width: 480px) {
    font-size: 16px !important;
  }

}

.activenav {
  border-top: solid 5px #fbda7b;
  padding: 20px 0 !important;
}


.cd-buttons {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 50%;
	}

  a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: Montserrat;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
	}

  li:first-child a {
    background: #1abc9c;
    @include border-radius(0 0 0 .25em);

  .no-touch &:hover {
      background-color: lighten(#1abc9c, 5%);
		}
	}

  li:last-child a {
    background: lighten(#5e6e8d, 30%);
    border-radius: 0 0 .25em 0;

	  .no-touch &:hover {
			background-color: lighten(lighten(#5e6e8d, 30%), 5%);
		}
	}
}
