//index

.dark-blue {
  background: #2e3e4e !important;
}

.background-gray {
  background-color: #f7f5f3;
}

.short-description {
  margin-top: 3vw;
}

.outline-button {
  @include border-radius(3px);
  background: $white;
  border: solid 1px #85949c;
  font-size: 18px;
  font-weight: 300;
  padding: 7px;
}

.outline-button:hover {
  background-color: #85949c !important;
  color: $white !important;
}

.absolute {
  position: absolute;
  top: 10px;
  right: 10px;
}

.margin-top {
  margin-top: 15px;
}

.header-11-sub {
  h3 {
    color: $white;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  .alert {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    color: $white;
    font-weight: 300;
  }

  .center-block {
    text-align: center;
  }
}

@include breakpoint(nano) {
  .brand {
    .perks-logo {
      width: 40px;
      height: 40px;
      margin-top: 10px !important;
    }
  }
  .perks {
    font-size: 35px;
  }

  .header-11-sub {
    h3 {
      font-size: 25px;
      text-align: center;
      margin-top: 5%;
    }

    .short-description {
      font-size: 14px;
      text-align: center;
      margin-bottom: 8%;
    }

    .border-right {
      width: 100% !important;
    }
  }
}

@include breakpoint(mobile) {
  .header-11-sub {
    h3 {
      font-size: 26px;
      text-align: center;
      margin-top: 5%;
    }

    .short-description {
      font-size: 16px;
      text-align: center;
      margin-bottom: 8%;
    }
  }
}

@include breakpoint(tablet) {
  .padding {
    padding-top: 355px;
    padding-bottom: 80px;
  }
  .short-description {
    margin-bottom: 10px !important;
  }
  .brand {
    .perks-logo {
      width: 50px;
      height: 50px;
      margin-top: 0 !important;
    }
    .perks {
      font-size: 45px;
    }
  }
}

@include breakpoint(monitor) {
  .header-11-sub {
    .short-description {
      font-size: 22px;
      padding: 0 50px;
    }
    h3 {
      font-size: 28px;
    }
  }
  .padding {
    padding-top: 355px;
    padding-bottom: 80px;
  }
}


.employer-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 420px;
  width: 87.5%;

  .border-radius-form {
    @include border-radius(3px);
  }

  .white-background {
    @include border-radius(3px);
  }

  .full-width {
    width: 100% !important;
  }

  label {
    height: 70px !important;
    width: 50% !important;
  }

  .background-image {
    background-attachment: fixed;
    background-image: image-url('building-graph.png') !important;
    background-position: center;
    background-repeat: no-repeat;
  }

  .border-right {
    border-right: 1px solid #eee;
  }

  .white-background {
    background-color: #fdfdfd;
    opacity: .9;
  }

  label {
    border-bottom: 1px solid #eee;
    color: #95a0a5;
    cursor: text;
    display: inline-block;
    height: 85px;
    margin-bottom: 0;
    width: 220px;
  }

  span {
    color: #95a0a5;
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 12px 0 0 14px;
    text-indent: 1px;
    text-transform: uppercase;
  }

  input {
    background: transparent;
    border: 0;
    color: #242a33;
    font-size: 15px;
    font-weight: 300;
    margin: 9px 0 0 14px;
  }

  .full-width {
    width: 100%;
  }

  .solid-btn {
    @include border-radius(0 0 3px 3px);
    background: #fc0;
    border: 0;
    border-bottom: 4px solid #f4b700;
    color: #fdfdfd;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 66px;
    line-height: 66px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px #d6a000;
    text-transform: uppercase;
    width: 100%;
  }
}

.features {
  display: inline-block;
  font-size: 15px;
  margin: 7% 0 7% 0;
  vertical-align: top;

  .key-content:first-child {
    margin-left: 0;
  }

  img {
    display: inline-block;
    margin: 0 15px 40px 0;
    width: 60px;
  }

  p {
    color: #73838e;
    display: inline-block;
    font-weight: 300;
    line-height: 24px;
    max-width: 340px;
    float:right;
  }

  h3 {
    color: #242a33;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 0;
    max-width: 200px;
  }

  @include breakpoint(nano - 160) {
    img {
      width: 45px;
    }

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }
}

.for-whom {
  padding-bottom: 8.8%;
  padding-top: 6.1%;
  min-height: 620px;

  .employer-image {
    margin-bottom: 60px;
  }

  h3 {
    letter-spacing: .5px;
  }

  p {
    font-weight: 300;
    margin-bottom: 4vmax;
    margin-top: 20px;
  }

  a {
    border: 1px solid $green;
    color: $green;
  }

  @include breakpoint(nano) {
    p {
      font-size: 15px !important;
    }
    .employer-image {
      display:none;
    }
    .add-margin {
      margin-top: 10vw;
    }
  }

  @include breakpoint(mobile) {
    p {
      font-size: 16px !important;
    }
  }

  @include breakpoint(tablet) {
    p {
      font-size: 17px !important;
    }
    .employer-image {
      display: block;
    }
  }
  @include breakpoint(laptop) {
    p {
      font-size: 18px !important;
    }
  }

}

//login page

.login {
  margin-bottom: 0;

  .background {
    @include opacity(.3);
    background: image-url('background.jpg') no-repeat;
    background-size: auto;

    @include breakpoint(monitor) {
      background-size: 100%;
    }
  }
}
.signin-form {
  @include border-radius(7px);
  background-color: #fff;
  border-bottom: 5px solid #cfcfcf;
  max-width: 360px;
  min-width: 260px;

  .color-bar {
    height: 10px;

    .table {
      border-collapse: collapse;
    }

    td {
      height: 20px;
      padding: 0;
      width: 100px;
    }

    .green {
      @include border-radius(6px 0);
      background-color: #c3e07f;
    }

    .flesh {
      background-color: #f7fdca;
    }

    .orange {
      background-color: #fecf71;
    }

    .red {
      background-color: #f0776c;
    }

    .pink {
      background-color: #db9dbd;
    }

    .violet {
      background-color: #c49cde;
    }

    .blue {
      background-color: #969eca;
      @include border-radius(0 6px);
    }
  }

  .title {
    background-color: #f7f7f7;
    padding-bottom: 10px;
    padding-top: 10px;

    h4 {
      color: #b8b8b8;
      font-weight: 300;
      text-align: center;
    }
  }

  .body {
    padding: 25px 25px 35px;

    .form-control {
      border: 3px solid #ebebeb;
      border-bottom-width: 5px;
      font-size: 17px;
      font-weight: 300;
      height: 55px;
      padding-left: 40px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .side-icon {
      color: #e0e0e0;
      font-size: 23px;
      padding: 14px 11px;
      position: absolute;
    }

    .btn-info {
      background-color: #f0776c;
      border-bottom: 5px solid #d76a60;
      font-size: 25px;
      padding: 20px;
    }

    p {
      color: #60c1dc;
      font-size: 15px;
      font-weight: 300;
    }

    .forgot {
      margin-bottom: 0;
    }

    label {
      color: #60c1dc;
      font-size: 15px;
      font-weight: 300;
    }

    .rememberbox {
      display: inherit !important;
    }
  }

  @include breakpoint(tablet) {
    margin: auto;

    h4 {
      font-size: 20px;
    }

    .body {
      .btn-info{
        font-size: 20px;
        padding: 13px;
      }

      .form-control {
        font-size: 15px;
        height: 50px;
      }

      .side-icon {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include breakpoint(nano) {
    width: 260px;
    h4 {
      font-size: 18px;
    }

    .body {
      .form-group {
        margin-bottom: 15px;
      }

      .btn-info{
        font-size: 16px;
        padding: 7px;
      }

      .side-icon {
        font-size: 16px;
        padding: 12px 10px;
      }

      p {
        font-size: 13px;
      }

      .form-control {
        border-width: 1px;
        border-bottom-width: 3px;
        font-size: 13px;
        height: 40px;
        padding-left: 30px;
      }

      label {
        font-size: 13px;
      }
    }
  }
}

.stats {
  @include border-radius(0 0 0 3px);
  background-color: #f9fafa;
  border-right: 1px solid #eee;
  display: inline-block;
  padding: 10px 13px;
  width: 33.33%;

  .blue-icon {
    background-color: #4d9dd3;
  }

  .red-icon {
    background-color: #fc3768;
  }

  .green-icon {
    background-color: #9bc84a;
  }

  .background-icon {
    @include border-radius(3px);
    display: inline-block;
    padding: 10px 10px 2px;

    span {
      color: #fff;
      font-size: 37px;
    }
  }

  .stat-description {
    display: inline-block;
    margin-left: 10px;
    padding: 0 5px;
  }

  h4 {
    color: #6f7c93;
    margin: 0;
    text-align: center;
  }

  p {
    color: #6f7c93;
    font-family: Montserrat;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase;
  }
}

//dashboard widgets

.widget {
  @include border-radius(6px);
  background-color: $white;
  border: solid 1px #c6cddb;
  border-bottom-width: 3px;
  color: #86949b;
  font-family: $base-font;
  margin-bottom: 20px;

  .padding-original {
    padding: 7px 20px;
  }

  h5 {
    color: $darkblue;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .notification {
    border-bottom: solid 1px;
    border-top: solid 1px;
    font-size: 13px;
    padding: 10px 0 35px;
  }

  .time-stamp {
    color: #c5c9cb;
    float: right;
    font-size: 11px;
    margin-top: 10px;
  }

  h6 {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .engagements {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;

    i {
      float: right;
    }
  }

  p {
    font-size: 13px;
    font-weight: 300;
  }
}

.list-stats {
  border-top: 1px solid #eee;
}
