// Fonts
$header-font: "Montserrat", sans-serif;
$base-font: "Open Sans", sans-serif;
$logo-font: "Raleway", sans-serif;

// Color Palette
$sidebar-blue: #37475f;
$darkblue: #40434f;
$white: #fff;
$red: #ce3f4e;
$green: #16a085;
$black: #000;
